 /*banner*/

 #banner {
     background-image: url(../images/img-home.jpg);
     background-size: cover;
     /*width: 100%;*/
     height: 266px;
     align-items: center;
     display: flex;


 }

 #contentbanner {
     align-items: center;

 }


 #Textbanner {
     font-size: 64px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bold;
     margin-left: 40px;



 }

 #Textbannerlorem {
     font-size: 24px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: lighter;
     margin-left: 40px;


 }


 /*Search*/


 .Search {
     display: flex;
     flex-wrap: nowrap;
     align-items: flex-end;
     align-items: center;
 }

 #search {
     margin-right: 0;
     height: 35px;
     margin: 16px;
     border-radius: 8px;
     color: rgb(68, 68, 68);
     align-items: center;
     border: 0.5px solid black;
     flex-grow: 1;
     padding-left: 16px;

 }


 .Secundarybutton {
     background-color: black;
     color: white;
     padding: 10px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 200;
     font-size: 16px;
     border-radius: 8px;
     margin-right: 24px;
 }

 /*H2Categorías*/

 h2 {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bold;
     margin: 0px;
     font-size: 46px;
     margin-left: 40px;
 }

 /*filtros*/

 #filtros {
     display: flex;
     margin-top: 24px;
     margin-left: 40px;
     margin-right: 40px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     



 }


 #breackfast {

     width: 180px;
     height: 182px;
     border-radius: 30px;
     background: linear-gradient(180deg, rgba(112, 130, 70, 0.00) 0%, rgba(112, 130, 70, 0.10) 100%);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 18px;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 40px;
     margin-bottom: 40px;
     


 }

 #breackfast img {
     width: 100px;
     height: 100px;
 }

 /*Vegan*/

 #vegan {

     width: 180px;
     height: 182px;
     border-radius: 30px;
     background: linear-gradient(180deg, rgba(225, 255, 163, 0.13) 0%, rgba(108, 198, 63, 0.10) 100%);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 18px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 40px;
     margin-bottom: 40px;

 }

 #vegan img {
     width: 100px;
     height: 100px;
 }

 /*Meat*/


 #meat {

     width: 180px;
     height: 182px;
     border-radius: 30px;
     background: linear-gradient(180deg, rgba(204, 38, 27, 0.00) 0%, rgba(204, 38, 27, 0.10) 100%);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 18px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 40px;
     margin-bottom: 40px;

 }

 #meat img {
     width: 100px;
     height: 100px;
 }

 /*Dessertt*/

 #dessert {

     width: 180px;
     height: 182px;
     border-radius: 30px;
     background: linear-gradient(180deg, rgba(255, 170, 5, 0.00) 0%, rgba(240, 158, 0, 0.18) 100%);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 18px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 40px;
     margin-bottom: 40px;

 }

 #dessert img {
     width: 100px;
     height: 100px;
 }

 /*Lucnch*/

 #lunch {

     width: 180px;
     height: 182px;
     border-radius: 30px;
     background: linear-gradient(180deg, rgba(107, 254, 245, 0.00) 0%, rgba(0, 180, 158, 0.21) 100%);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 18px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 40px;
     margin-bottom: 40px;

 }

 #lunch img {
     width: 100px;
     height: 100px;
 }


 /*Chocolate*/

 #chocolate {

     width: 180px;
     height: 182px;
     border-radius: 30px;
     background: linear-gradient(180deg, rgba(237, 65, 158, 0.00) 0%, rgba(251, 0, 135, 0.15) 100%);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 18px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 40px;
     margin-bottom: 40px;


 }

 #chocolate img {
     width: 100px;
     height: 100px;
 }

 /*Cards*/

 #card {
     width: 400px;
     height: 434px;
     background: linear-gradient(180deg, #F6F3F0 99.99%, #668666 100%);
     border-radius: 30px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 24px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 32px;

 }

 #card img {
     margin-top: 16px;
     margin-bottom: 0px;
 }


 h4 {
     font-size: 24px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bold;
     margin-left: 16px;
     margin-right: 40px;
     margin-bottom: 0px;
     margin-top: 16px;

 }


 #icons {
     display: flex;
     flex-direction: row;
     margin-top: 0px;

 }

 h6 {
     font-size: 12px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: lighter;
     margin-left: 16px;
     margin-right: 16px;
     margin-bottom: 0px;
     margin-top: 16px;


 }

 h5 {
     font-size: 12px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: lighter;
     margin-top:  8px;
     margin-bottom: 0%;
     margin-left: 16px;
     margin-right: 16px;
    
 }



 #timer {
     display: inline-flex;



 }

 #fork {
     display: inline-flex;

 }

 #recetas {
    display: flex;
    flex-wrap: wrap;
     margin-top: 0px;
     justify-content: space-between;
     margin-right: 40px;
     margin-left: 40px;
 }