body{
    margin: 0;
}





#div_filtros{
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.filtro{
    margin-top: 45px;
    height: 100px;
    width: 100px;
    border: 1px solid black;

}

#div_recetas{

    display: flex;
    justify-content: space-around;
}

.receta{
    margin-top: 45px;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin-right: 20px;

}